<div class="container">
  <div class="sidebar">
    <div class="fixedHeader">
      <h2>Fahrzeugauswahl</h2>

      <select
        id="custom-select-box"
        class="custom-select"
        [(ngModel)]="selectedCompany"
        (change)="onCompanySelected()"
      >
        <!-- ** Will be filled with Companies ** -->
      </select>
    </div>

    <ul id="vehicle-list"></ul>
    <!-- ** Will be filled with Selected Vehicles ** -->
    <ul>
      <li *ngFor="let vehicle of vehicles$ | async">
        <label class="vehicle-label-outter">
          <div
            class="vehicle-highlight"
            (click)="selectCheckbox(vehicle, $event)"
          >
            <input
              type="radio"
              name="vehicle"
              class="vehicle-radio"
              [value]="vehicle"
              id="checkbox-vehicle-{{ vehicle.id }}"
            />
            <label
              class="vehicle-label vehicle-{{ vehicle.id }}"
              [class.selected]="selectedVehicle === vehicle"
            >
              <div class="vehicle-icon">
                <img src="assets/van-shuttle-solid.svg" alt="Vehicle Icon" />
              </div>
            </label>
            <div class="vehicle-info">
              <div class="vehicle-title">{{ vehicle.VehicleDescription }}</div>
              <div class="company-name">{{ vehicle.CompanyName }}</div>

              <div class="seating">
                <div class="seating-icon" *ngIf="vehicle.seatingPlaces">
                  <div class="seatNR">{{ vehicle.seatingPlaces }}</div>
                  <img
                    src="../../assets/person-seat.svg"
                    alt="Seat Accessible"
                  />
                </div>

                <div
                  class="wheelchair-icon"
                  *ngIf="vehicle.canTransportWheelchairs"
                >
                  <div class="seatNR"></div>
                  <img
                    src="../../assets/wheelchair-solid.svg"
                    alt="Wheelchair Accessible"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="person-list" *ngIf="selectedVehicle">
            <h3>{{ selectedVehicle.CompanyName }} Employees:</h3>
            <ul id="vehicle-personList-{{ vehicle.id }}">
              <!-- *** Will be filled with persons *** -->
            </ul>
          </div>
        </label>
      </li>
    </ul>
  </div>

  <div class="submit hide">
    <button class="btn btn-primary" (click)="submitSelectedRoute()">
      Submit Route
    </button>
  </div>

  <div class="map-outter-container">
    <app-map [inputValue]="getMapCoordinates()"></app-map>
  </div>
</div>
