<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let route_point of route_points">
            <td>{{ route_point.id }}</td>
            <td>{{ route_point.description }}</td>
            <td>{{ route_point.sequenz }}</td>
            <td>{{ route_point.atHome }}</td>
            <td>{{ route_point.coordinates }}</td>
            <td>{{ route_point.vehicle }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <br><br>
  <form id="routePointForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="seq">Sequence Number</label>
      <input type="text" class="form-control" id="seq" name="seq" [(ngModel)]="seq" required>
    </div>
    <div class="form-group">
      <label for="startPoint">Start Point</label>
      <input type="text" class="form-control" id="startPoint" name="startPoint" [(ngModel)]="startPoint" required>
    </div>
    <div class="form-group">
      <label for="person">Person</label>
      <input type="text" class="form-control" id="person" name="person" [(ngModel)]="person" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>