@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html { font-size: 62.5% }

body{
    margin: 0 !important;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: auto;
    color: #121212;
}

